@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-clr: #fb972b;
  --secondary-clr: #161216;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-clr);
  color: white;
}
html {
  font-family: "Poppins", sans-serif !important;
}
img {
  cursor: pointer;
}
.bg-hero {
  background-image: url("../public/assets/bg1.png");
  border-radius: 0px 0px 60px 60px;
}
.overflow-hidden{
  overflow: hidden;
}
@media  screen  and (min-width:736px) {
  .nav-m-content{
    display: grid;
    grid-template-rows: auto !important;
    gap: 20px;
  }
}
::-webkit-scrollbar {
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
